<!-- Footer Section -->
<div id="footer-realizace">
    <div class="container text-center">
      <p class="text-dark">Made with <i class="fas fa-heart"></i> and <i class="fas fa-virus"></i> by <a target="_black" href="https://karlagergelova.com/">Karla Gergelova</a> 2021. All Rights Reserved</p>
    </div>
  </div>
  
  <div></div>