#header-image {
    width: 100%; 
    height: auto; 
    position: relative; 
    min-height: 100px; 
}

/* footer home page */
#footer {
    padding:20px 0;
    background-color:#e5e5e5;
}

/* Inner carousel size of images */
.carousel-inner > .item > img { 
    width:1000px !important; 
    height:500px !important; 
}

/* Background color of Realizace section */
#work { 
    background: #e5e5e5;
} 

/* scrollup */
.scrollup{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    opacity: .3;
    position: fixed;
    bottom: 20px;
    right: 25px;
    color: #fff;
    cursor: pointer;
    background-color: #000;
    z-index: 1000;
    transition: opacity .5s, background-color .5s;
    -moz-transition: opacity .5s, background-color .5s;
    -webkit-transition: opacity .5s, background-color .5s;
}

.scrollup:hover {
    background: black;
    opacity: 1;
}

.scrollup i {
    font-size: 13px;
    position: absolute;
    opacity: 1;
    color: #fff;
    left: 50%;
    top: 50%;
    margin-top: -7px;
    margin-left: -6px;
    text-decoration: none;

}

/* Realizace Single */
#realizace {
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color:#e5e5e5;
}

#content-wrap {
    padding-bottom:2.5rem;
}

/* Footer of realizace section */
#footer-realizace {
    padding:30px 0;
    background-color:#0b0b0b;
}

/* Carousel controls */
.carousel-control.right {
    background-image: linear-gradient(to right,rgba(0,0,0,.0000) 0,rgba(0,0,0,0) 100%);
}

.carousel-control.left {
    background-image: linear-gradient(to right,rgba(0,0,0,.0000) 0,rgba(0,0,0,0) 100%);
}



/* Add padding realization heading bottom */
.project-heading{
    padding-bottom:50px; 
}

.navbar-brand {
    padding: 0px 0px !important;
}


/* Add space between image and text in realizace */
.table-articles{
    margin-left: 50px;
    margin-right: 50px;
}







/* -----RESPONSIVITE SUR LES MOBILES / AUTRES DEVICES -----*/

/* Add padding realization text column on the left */
@media screen and (min-width: 992px) {
    .addPadding {
        padding-left:100px; 
    }
  }

@media screen and (max-width: 992px) {
.addPadding {
    padding-top:50px; 
}

}


@media only screen 
and (min-device-width: 300px) 
and (max-device-width: 768px) {
  .navbar-logo{
    height: auto;
    width: auto;
    max-width: 300px;
    }
  .navbar{
    min-height:50px;
   }
   .carousel-inner > .item > img {
    width: 400px !important;
    height: 300px !important;
    }

    #header-image{
        padding-top: 50px;
    }
    .icons-about{
        width: 100%;
    }
    .navbar-header{
        height: 60px;
    }

    .img-responsive{
        height: 300px;
    }
    
   
}

@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 992px) {
    .navbar-logo{
        height: auto;
        width: auto;
        max-width: 416px;
        vertical-align: middle;
    }
    .navbar{
        min-height:120px;
    }
    .icons-about{
        width: 50%;
    }
    
}

@media only screen 
and (min-device-width: 992px) {
    .navbar{
        min-height:120px;
    }
    .navbar-logo{
        height: auto;
        width: auto;
        max-width: 416px;
        vertical-align: middle;
    }
    .icons-about{
        width: 50%;
    }
}

@media only screen 
and (min-device-width: 768px) {
    
    
    .articles{
        margin-top: 150px !important;
    }
    .carousel-inner > .item > img {
        width: 840px !important;
        height: 420px !important;
    }

}

html{
    scroll-behavior: smooth !important;
}




