{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
<div id="home" class="slider">
    <ul class="slides">
        <li>
            <img src="{{ asset('images/lio4.jpg') }}" class="front_image_opacity"> 
            <div class="caption center-align">
                <div class="">
                    <h1 class="text-uppercase">Lionel Eschenbrenner</h1>
                    <p class="text-uppercase">Je suis Lionel Eschenbrenner coach sportif diplômé, passionné de sport et par les relations humaines</p>
                    {# <img src="{{ asset('images/lio6.jpg') }}"> #}
                </div>
            </div>
        </li>
    </ul>
</div>

{# <div class="section-full bg-black dlab-contact-1" id="contact">
    <div class="row dzseth m-a0">
        <div class="col-xl-6 col-lg-4 col-md-12 p-a0">
            <iframe class="seth" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d21101.184059707906!2d7.734895400258374!3d48.61658062291911!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4796c86f453b3249%3A0x45bb538b377b17fc!2sSchiltigheim!5e0!3m2!1sfr!2sfr!4v1592513418753!5m2!1sfr!2sfr" style="border:0px; width: 100%; min-height: 300px;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
        <div class="col-xl-6 col-lg-8 col-md-12  bg-black text-white bg-img-fix" >
            <div class="content-inner-1  bg-img-fix">
                <div class="section-head text-center">
                    <h2 class="text-uppercase">Contactez-moi</h2>
                    <div class="dlab-separator"></div>
                    <p class="max-w500 m-auto m-b0">If you have any questions, you can contact me here.</p>
                </div>
                <div class="p-lr30 row m-b30 contact-style-1">
                    <div class="dzFormMsg"></div>
                    <form method="post" class="dzForm" action="{{ path('contact') }}">
                    <input type="hidden" value="Contact" name="whichform" >
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input name="lastname" type="text" required class="form-control" placeholder="Your Last Name">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <div class="input-group"> 
                                        <input name="firstname" type="text" class="form-control" required  placeholder="Your First Name" >
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input name="email" type="email" required class="form-control" placeholder="Your Email">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input name="subject" type="text" required class="form-control" placeholder="Subject">
                                    </div>
                                </div>
                            </div>
                                <div class="col-lg-12">
                                <div class="form-group">
                                    <div class="input-group">
                                        <textarea name="message" rows="4" class="form-control" required placeholder="Your Message..."></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <button name="submit" type="submit" value="Submit" class="site-button "> <span>Submit</span> </button>
                            </div>
                        </div>
                    </form>
                </div>
                {# <div class="p-lr15 row dlab-contact">
                    <div class="col-lg-4 col-md-4 col-sm-4 m-b15">
                        <div class="icon-bx-wraper p-a15 center col">
                            <div class="icon-bx-sm m-b20 radius"> <a href="tel:+33652629472" class="icon-cell"><i class="fa fa-phone"></i></a> </div>
                            <div class="icon-content">
                                <h5>Phone</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 m-b15">
                        <div class="icon-bx-wraper p-a15 center col">
                            <div class="icon-bx-sm m-b20 radius"> <a href="mailto:gergelovakarla@aol.com" class="icon-cell"><i class="fa fa-paper-plane"></i></a></div>
                            <div class="icon-content">
                                <h5>Email</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4  m-b15">
                        <div class="icon-bx-wraper p-a15 center col">
                            <div class="icon-bx-sm m-b20 radius"> <a href="https://www.linkedin.com/in/karla-gergelov%C3%A1-05728346/" target="_blank" class="icon-cell"><i class="fa fa-linkedin"></i></a> </div>
                            <div class="icon-content">
                                <h5>Linkedin</h5>
                            </div>
                        </div>
                    </div>
                </div> #}
            </div>
        </div>
    </div>
{# </div> #}


<section id="contact" class="contact">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="contact_contant sections">
                    <div class="head_title text-center">
                        <h2 class="center m-y-2">Contactez-moi</h2>
                        <div class="subtitle center">
                            Je suis la pour vous:) N'hésitez pas à me contacter si vous avez des questions.
                        </div>
                        <div class="dlab-separator"></div>
                        <br>
                        <br>
                    </div><!-- End off Head_title -->

                    <div class="col-sm-12">
                        <div class="single_contant_left padding-top-90 padding-bottom-90">
                            <form action="#" id="formid">
                                <div class="col-lg-8 col-md-8 col-sm-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-1">

                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="name" placeholder="First Name" required="">
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <input type="email" class="form-control" name="email" placeholder="Email" required="">
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="subject" placeholder="Subject" required="">
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <textarea class="form-control" name="message" rows="7" placeholder="Message"></textarea>
                                    </div>

                                    <div class="">
                                        <input type="submit" value="SEND MESSAGE" class="btn btn-lg">
                                    </div>
                                </div> 
                            </form>
                        </div>
                    </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
      

 
{% endblock %}
