{% extends '@EasyAdmin/default/edit.html.twig' %}
{% set content = entity %}



{% block content_title %}
    <div class="content-header-title">
        <h1 class="text-center">Upravit clanek: "{{ content.title }}"</h1> 
    </div>   
    <div class="form-group" style="flex:0 0 50%;"></div> 

    
{% endblock %}




